@using Microsoft.AspNetCore.Components.Authorization
@using System.Security.Claims
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject NavigationManager Navigation
@inject CustomAuthenticationStateProvider CustomAuthStateProvider

@if (usuario != null)
{
     <AuthorizeView>
            <Authorized>
                <a href="#" class="btn btn-info" style="cursor: default; pointer-events: none; text-decoration: none; color: inherit;">
                    <i class="oi oi-person"></i>Olá, @usuario?.FirstOrDefault()?.Value
                  </a>
                   <span>
                       <a @onclick="Logout">sair</a> 
                        </span>
            </Authorized>
            <NotAuthorized>
                <!-- Se não estiver autenticado, não exibir nada aqui -->
            </NotAuthorized>
        </AuthorizeView>

        <AuthorizeView>
                <Authorized>
                </Authorized>
                <NotAuthorized>
                    <a href="Login" class="btn btn-info">
                        <i class="oi oi-person"></i>&nbsp;Faça o login
                        <span class="badge bg-dark"></span>
                    </a>
                </NotAuthorized>
            </AuthorizeView>
}
else
{

    
    
}

@code {
    private IEnumerable<Claim>? usuario;
    private string? userName;


    protected override async Task OnInitializedAsync()
    {
        // Inicializa o userName com o estado de autenticação atual
        await UpdateUserName();
    }

    private async Task UpdateUserName()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;
        usuario = user.Claims;

        if (user.Identity?.IsAuthenticated ?? false)
        {
            
            userName = user.FindFirst(ClaimTypes.Name)?.Value
                       ?? user.FindFirst(ClaimTypes.NameIdentifier)?.Value
                       ?? user.Identity?.Name;
        }
        else
        {
            userName = null;
        }
    }

    private async void OnAuthenticationStateChanged(Task<AuthenticationState> task)
    {
        await UpdateUserName();
        await InvokeAsync(StateHasChanged);
    }

    private async Task Logout()
    {
        await CustomAuthStateProvider.MarkUserAsLoggedOut();
        Navigation.NavigateTo("/login");
    }
}